html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background-image: url("images/map.png");
    
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }




.dialogbox2{
  height: 600px;
  width: 1200px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0);
  border:none;
  text-align: center;
  font-size: 50px;
}

.anouncement{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin: auto;
  
}

.p1{
  flex-basis: 32%;
  max-width: 400px;
}


/* Menü ######################*/

.dialogbox{
  height: 620px;
  width: 500px;
  background-color: antiquewhite;
}

form{
  display: grid;
  grid-template-columns: [first] auto [second] 1fr;
  grid-gap: 10px;
  grid-auto-flow: row;
  /*margin-bottom: 40px;*/

}

h1{
  margin-top: 0px;
  text-align: center;
}

.legend{
  font-size: 20px;
  font-weight: bold;
  
}

.small_headlines{
  font-weight: 600;
}

.items{
  display: grid;
  grid-template-columns: [first] 1fr;
  margin-left: 50px;
  grid-gap: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.singleItem{
  display: grid;
  grid-template-columns: [first] auto [second] 1fr;

}

.iteminfo{
  position: relative;
  margin-left: 10px;
}

.iteminfo .iteminfo_text {
  visibility: hidden;
  border-radius: 2px;
  background-color: rgb(218, 218, 218);
  width: 200px;
  color: rgb(0, 0, 0);
  
  border-style: solid;
  padding: 5px 0;
  text-align: center;
  z-index: 1;
  position: absolute;
  
}


.iteminfo:hover .iteminfo_text {
  visibility: visible;
}


.winCondition{
  display: grid;
  grid-template-columns: [first] 1fr;
  margin-left: 80px;
  grid-gap: 0px;
  margin-bottom: 10px;
}
.winCondition2{
  display: grid;
  grid-template-columns: [first] 1fr;
  margin-top: 20px;
}

.winCondition1{
  display: grid;
}
.Rounds{

  margin-left: 50px;
  margin-bottom: 40px;
}

.arrow_keys{
  height:90px;
  width:130px;
  margin-left: 40px;
}

.keyboard{
  margin-left: 40px;
}